@mixin create-font(
  $font-size: 14px,
  $font-weight: normal,
  $line-height: normal,
  $text-transform: normal,
  $letter-space: auto,
  $font-family: 'Inter'
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-space;
  font-family: $font-family;
  text-transform: $text-transform;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #dbdbdb;
  }
}
