$main-white: #fafafa;
$additional-white: #f6f6f6;

$primary-color: #ffd21f;
$primary-black: #121212;

$red-color: #f18383;
$border-color: #dadada;

$t: 0.4s ease;

$block-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);

$border-radius: 12px;
$border-radius-control: 8px;

$inactive-icon: #bebebe;
